@import '../../styles/variables.scss';

.search-page {
    margin-top: 10rem;

    .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $color-grey;
        padding: .8rem 2rem;
        border-radius: .5rem;
        width: 40rem;

        input {
            background: transparent;
            border: none;
            margin-right: 2rem;
            outline: none;
            color: $color-grey;
            width: 100%;
        }

        svg {
            font-size: 2rem;
            color: $color-grey
        }
    }
}

@media screen and (max-width: 600px) {

    .search-page {
    .search {
        width: 100%;
    }
}
}